/* Reset styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Basic styles */

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

/* Start header styles */

.header {
  background: #242B33;
  padding: 31px 0px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  font-size: 17px;
}

.nav-link:hover {
  color: #D4C17F;
  text-decoration: none;  
  transition: color 0.7s;
}

/* Profile styles start */

.main {
  padding: 50px 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 50%;
}

.section-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 30px 30px;
  width: 100%;
  border-bottom: 3px solid #242B33;
}

.section-profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: opacity(50%) (1.05);
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.section-title {
  font-family: "Playfair Display" sans-serif;
  color: #131314;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 30px;
  width: 300px;
  border-bottom: 3px solid #242B33;
}

.section-subtitle {
  margin-top: 30px;
}

.main-title {
  position: relative;
  /* margin-bottom: 20px; */
  font-family: "Playfair Display" sans-serif;
  color: #131314;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 5px;
  border-bottom: none;
  width: 100%;
}

.main-title::after {
  position:absolute;
  bottom: -20px;
  left: 50%;
  width: 50%;
  margin-left: -113px;
  border-top: 3px solid #000;
  content: "";
}

.section-subtitle {
  padding-top: 10px;
  font-family: "Playfair Display" sans-serif;
  color: #131314;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}

/* Start basic info section */

/* Возможно стоит удалить */
.section-top {
  padding-top: 30px;
}

/* Footer styles */

.footer {
  background: #242B33;
}